*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
img {
    max-width: 320px;
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 15px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.wrapper{
    margin: 150px auto;
    width: 70%;
}
.text-box{
    color: #fff;
}
.text-box h2 {
font-size: 42px
}
.text-box p {
    font-size: 16px;
}
